/*  _______________________________________________
    01 MEGA MENU BAR
    _______________________________________________  */
.megamenu_container{width:100%; height:50px; *height:48px; margin:0 auto; position:relative; z-index:9}
.megamenu{list-style:none; padding:0; position:relative; /* For IE7 */margin:0; font-family:Verdana,Geneva,sans-serif; font-size:13px; line-height:1}
.megamenu >li{float:left; margin:0; border:none; border-right:solid 1px #dcebf9;}
.megamenu >li >a{font-size:13px; font-weight:bold; outline:0; text-decoration:none; display:block; padding:17px 12px; position:relative}

.megamenu li.megamenu_button{display:none}

/*  _______________________________________________
    02 MEGA MENU CONTAINERS
    _______________________________________________  */
.megamenu li .dropdown_container, 
.megamenu li .dropdown_fullwidth, 
.megamenu li .dropdown_multilevel{position:absolute; margin:0; left:-9999em; top:-9999em; display:block; zoom:1; z-index:10; float:left}
.megamenu li .dropdown_first{margin-left:-1px}
.megamenu li .droplast_right{margin-right:-1px}

/* Showing Drop Down on Mouse Hover */
.megamenu li:hover .dropdown_container{top:49px; left:auto; *top:48px}
.megamenu li:hover .dropdown_fullwidth{top:49px; left:-1px}
.megamenu li .dropdown_right{right:0}
.megamenu li:hover .dropdown_right{top:49px; left:auto; right:0}

/* font awasome icon*/
/*  _______________________________________________
    04 FLY-OUT MENU
    _______________________________________________  */
.megamenu .dropdown_flyout, 
.megamenu .dropdown_flyout .dropdown_flyout_level{padding:0; margin:0; list-style:none; z-index:9}
.megamenu .dropdown_flyout li{float:left; width:235px; clear:both}
.megamenu .dropdown_flyout ul li{width:190px}
.megamenu .dropdown_flyout a{display:block; padding:9px 11% 9px 6%; width:83%}
.megamenu .dropdown_flyout .dropdown_flyout_level{position:absolute; margin:15px 0 0 4px; left:-9999em; top:-9999em; display:block; zoom:1; float:left}
.megamenu .dropdown_flyout li:hover >.dropdown_flyout_level{left:98%; top:-15px}
.megamenu .dropdown_flyout li:hover >.dropdown_flyout_level_left{left:-103%; right:100%}

/*  _______________________________________________
    05 MEGA MENU WEB ELEMENTS
    _______________________________________________  */
/* 2. Lists */
.megamenu li ul, 
.megamenu li ol{padding:0; margin:0 0 18px 20px}
.megamenu li ul{list-style:disc}
.megamenu li ol{list-style:decimal; *margin-left:22px}
.megamenu li ul li, 
.megamenu li ol li{font-size:13px; line-height:21px; position:relative; padding:0; margin:0; float:none; text-align:left}
.megamenu li .list_unstyled{list-style:none; margin-left:0}

/*  _______________________________________________
    06 DEFAULT THEMES, DARK &LIGHT (COMPULSORY)
    _______________________________________________  */
/* 1. Dark Menu Bar */
.megamenu_dark_bar{background:#dcebf9; border-bottom:solid 3px #000000}
.megamenu_dark_bar .megamenu{color:#FFF}
.megamenu_dark_bar .megamenu >li:hover a, 
.megamenu_dark_bar .megamenu >li.active a{background:#dcebf9;}
.megamenu_dark_bar .megamenu li.noactive{background:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none}
.megamenu_dark_bar .megamenu >li >a{color:#0787C6}
.megamenu_dark_bar .megamenu >li:hover >a, .megamenu_dark_bar .megamenu >li.active >a{color:#0A4D84}
.megamenu_dark_bar .megamenu >li .megamenu_drop{background:url("../images/dropdown.png") no-repeat right 18px}
.megamenu_dark_bar .megamenu_vertical >li .megamenu_drop{background:url("../images/right.png") no-repeat right 16px}
.megamenu_dark_bar .megamenu li.megamenu_button, 
.megamenu_dark_bar .megamenu li.megamenu_button:hover{background:url("../images/dropdown.png") no-repeat right 19px}
.megamenu_dark_bar .megamenu li.megamenu_button_active, 
.megamenu_dark_bar .megamenu li.megamenu_button_active:hover{background:url("../images/dropdown-up.png") no-repeat right 18px}

/* 2. Light Menu Bar */
/* Not in the demo */
/* 3. Dark Drop Down */
/* Not in the demo */
/* 4. Light Drop Down */
.megamenu_light .megamenu li .dropdown_container, 
.megamenu_light .megamenu li .dropdown_fullwidth, 
.megamenu_light .megamenu li .dropdown_flyout li ul{background:#123859; color:#0787C6; border-bottom:solid 3px #dcebf9; -webkit-box-shadow:0 1px 4px  rgba(0,0,0,0.8); -moz-box-shadow:0 1px 4px  rgba(0,0,0,0.8); box-shadow:0 1px 4px  rgba(0,0,0,0.8)}
.megamenu_light .megamenu li .dropdown_flyout li ul{border-bottom:3px solid #99C8EF; -webkit-box-shadow:0 1px 4px  rgba(0,0,0,0.8); -moz-box-shadow:0 1px 4px  rgba(0,0,0,0.8); box-shadow:0 1px 4px  rgba(0,0,0,0.8)}
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent{background:url("../images/right-b.png") no-repeat right 12px}
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent:hover, 
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent.active{background-color:#dcebf9}
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent.noactive{background-color:transparent}
.megamenu_light .megamenu >li >div a, 
.megamenu_light .megamenu li ul li, 
.megamenu_light .megamenu li ol li{color:#0787C6; font-size:13px}
.megamenu_light .megamenu >li >div a:hover{text-decoration:none/*color:#333; */}
.megamenu_light .megamenu li ul li:hover, .megamenu_light .megamenu li ul li:hover a,
.megamenu_light .megamenu li ul li.active, .megamenu_light .megamenu li ul li.active a,
.megamenu_light .megamenu li ol li:hover, 
.megamenu_light .megamenu .blue, 
.megamenu_light .megamenu .grey, 
.megamenu_light .megamenu .orange, 
.megamenu_light .megamenu .dark, 
.megamenu_light .megamenu .purple{/*color:#444; */ background-color:#99C8EF}
.megamenu_light .megamenu .black_box{background:#212121; color:#fff; text-shadow:1px 1px 1px #000}
.megamenu_light .megamenu .grey_bg{background:#eee}
.megamenu_light .megamenu .form_element{-webkit-box-shadow:0 1px 1px #efefef; -moz-box-shadow:0 1px 1px #efefef; box-shadow:0 1px 1px #efefef}
.megamenu_light .megamenu >li.megamenu_searchform:hover{background:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none}
.megamenu_light .megamenu hr{border:none; border-bottom:1px solid #fff; border-top:1px solid #e4e4e4}

/* 1. Common Media Queries */
@media only screen and (max-width:984px){.megamenu img{max-width:96%; height:auto}
.megamenu textarea{width:96%}
}

@media only screen and (min-width:480px) and (max-width:767px){.megamenu_container .megamenu >li >div >.responsive_sixths,.megamenu_container_vertical .megamenu >li >.dropvertical_container >div >.responsive_sixths{width:8.66%}
.megamenu_container .megamenu >li >div >.responsive_fourths, 
.megamenu_container_vertical .megamenu >li >.dropvertical_container >div >.responsive_fourths{width:17%}
.megamenu_container .megamenu >li >div >.responsive_thirds, 
.megamenu_container_vertical .megamenu >li >.dropvertical_container >div >.responsive_thirds{width:25.33334%}
.megamenu_container .megamenu >li >div >.responsive_halfs, 
.megamenu_container_vertical .megamenu >li >.dropvertical_container >div >.responsive_halfs{width:42%}
}

/* 2. Horizontal Mega Menu Media Queries */
@media only screen and (min-width:768px) and (max-width:984px){.megamenu_container .megamenu >li{margin:0 8px 0 0}
.megamenu_container .megamenu >li.right{margin-right:-1px}
.megamenu_container .megamenu >li >a{padding:16px 10px 17px 10px}
.megamenu_container .megamenu >li .megamenu_drop{padding-right:30px}
}

@media only screen and (max-width:767px){.megamenu_container{height:auto}
.megamenu_container .megamenu >li, 
.megamenu_container .megamenu >li:hover, 
.megamenu_container .megamenu >li.right, 
.megamenu_container .megamenu >li.right:hover{float:none; width:auto; padding-right:0; margin-right:0}
.megamenu_container .megamenu >li >a{padding:16px 10px 16px 10px}
.megamenu_container .megamenu li.right a{margin-right:0}

.megamenu_container .megamenu li:hover .dropdown_container, 
.megamenu_container .megamenu li:hover .dropdown_fullwidth, 
.megamenu_container .megamenu li:hover .dropdown_right{top:auto; left:-1px}
.megamenu_container .megamenu >li.megamenu_searchform .megamenu_searchfield{margin-left:10px; margin-bottom:10px}
.megamenu .dropdown_flyout, 
.megamenu .dropdown_flyout .dropdown_flyout_level{position:relative; left:auto; top:auto; padding:0; margin:0 4% 0 4%}
.megamenu .dropdown_flyout li, 
.megamenu .dropdown_flyout ul li{width:100%; padding:3px 0 3px 0}
.megamenu .dropdown_flyout li:hover >.dropdown_flyout_level{left:auto; top:auto}
.megamenu .dropdown_flyout li:hover >.dropdown_flyout_level_left{left:auto; right:auto}
.megamenu_dark .megamenu li .dropdown_flyout li ul, 
.megamenu_light .megamenu li .dropdown_flyout li ul{border:none; background:none}
.megamenu_dark .megamenu li .dropdown_flyout .dropdown_parent{background:url("../images/dropdown.png") no-repeat right 9px}
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent{background:url("../images/dropdown-b.png") no-repeat right 9px}
.megamenu_dark .megamenu li .dropdown_flyout .dropdown_parent:hover, 
.megamenu_dark .megamenu li .dropdown_flyout .dropdown_parent.active, 
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent:hover, 
.megamenu_light .megamenu li .dropdown_flyout .dropdown_parent.active{background-color:transparent}

}

@media only screen and (max-width:479px){.megamenu_container .megamenu >li >div >.responsive_sixths,.megamenu_container .megamenu >li >div >.responsive_fourths,.megamenu_container .megamenu >li >div >.responsive_thirds,.megamenu_container .megamenu >li >div >.responsive_halfs{width:42%}

}
